/**
 * This file was auto-generated by Fern from our API Definition.
 */

import * as environments from "../../../../environments";
import * as core from "../../../../core";
import * as Sync from "../../../index";
import urlJoin from "url-join";
import * as errors from "../../../../errors/index";

export declare namespace Generate {
    export interface Options {
        environment?: core.Supplier<environments.SyncEnvironment | string>;
        /** Specify a custom URL to connect the client to. */
        baseUrl?: core.Supplier<string>;
        apiKey: core.Supplier<string>;
        fetcher?: core.FetchFunction;
    }

    export interface RequestOptions {
        /** The maximum time to wait for a response in seconds. */
        timeoutInSeconds?: number;
        /** The number of times to retry the request. Defaults to 2. */
        maxRetries?: number;
        /** A hook to abort the request. */
        abortSignal?: AbortSignal;
        /** Additional headers to include in the request. */
        headers?: Record<string, string>;
    }
}

export class Generate {
    constructor(protected readonly _options: Generate.Options) {}

    /**
     * @param {Sync.CreateGenerationDto} request
     * @param {Generate.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sync.BadRequestError}
     * @throws {@link Sync.UnauthorizedError}
     * @throws {@link Sync.InternalServerError}
     *
     * @example
     *     await client.generate.createGeneration({
     *         input: [{
     *                 type: "video",
     *                 url: "https://synchlabs-public.s3.us-west-2.amazonaws.com/david_demo_shortvid-03a10044-7741-4cfc-816a-5bccd392d1ee.mp4"
     *             }, {
     *                 type: "audio",
     *                 url: "https://synchlabs-public.s3.us-west-2.amazonaws.com/david_demo_shortaud-27623a4f-edab-4c6a-8383-871b18961a4a.wav"
     *             }],
     *         model: "lipsync-2",
     *         options: {
     *             sync_mode: "loop"
     *         }
     *     })
     */
    public createGeneration(
        request: Sync.CreateGenerationDto,
        requestOptions?: Generate.RequestOptions,
    ): core.HttpResponsePromise<Sync.Generation> {
        return core.HttpResponsePromise.fromPromise(this.__createGeneration(request, requestOptions));
    }

    private async __createGeneration(
        request: Sync.CreateGenerationDto,
        requestOptions?: Generate.RequestOptions,
    ): Promise<core.WithRawResponse<Sync.Generation>> {
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SyncEnvironment.Default,
                "/v2/generate",
            ),
            method: "POST",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@sync.so/sdk",
                "X-Fern-SDK-Version": "0.1.6",
                "User-Agent": "@sync.so/sdk/0.1.6",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as Sync.Generation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Sync.BadRequestError(_response.error.body as Sync.GenerationError, _response.rawResponse);
                case 401:
                    throw new Sync.UnauthorizedError(
                        _response.error.body as Sync.GenerationError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Sync.InternalServerError(
                        _response.error.body as Sync.GenerationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SyncError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.SyncError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.SyncTimeoutError("Timeout exceeded when calling POST /v2/generate.");
            case "unknown":
                throw new errors.SyncError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {Sync.GenerationId} id
     * @param {Generate.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sync.UnauthorizedError}
     * @throws {@link Sync.NotFoundError}
     * @throws {@link Sync.InternalServerError}
     *
     * @example
     *     await client.generate.getGeneration("6533643b-acbe-4c40-967e-d9ba9baac39e")
     */
    public getGeneration(
        id: Sync.GenerationId,
        requestOptions?: Generate.RequestOptions,
    ): core.HttpResponsePromise<Sync.Generation> {
        return core.HttpResponsePromise.fromPromise(this.__getGeneration(id, requestOptions));
    }

    private async __getGeneration(
        id: Sync.GenerationId,
        requestOptions?: Generate.RequestOptions,
    ): Promise<core.WithRawResponse<Sync.Generation>> {
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SyncEnvironment.Default,
                `/v2/generate/${encodeURIComponent(id)}`,
            ),
            method: "GET",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@sync.so/sdk",
                "X-Fern-SDK-Version": "0.1.6",
                "User-Agent": "@sync.so/sdk/0.1.6",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as Sync.Generation, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Sync.UnauthorizedError(
                        _response.error.body as Sync.GenerationError,
                        _response.rawResponse,
                    );
                case 404:
                    throw new Sync.NotFoundError(_response.error.body as Sync.GenerationError, _response.rawResponse);
                case 500:
                    throw new Sync.InternalServerError(
                        _response.error.body as Sync.GenerationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SyncError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.SyncError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.SyncTimeoutError("Timeout exceeded when calling GET /v2/generate/{id}.");
            case "unknown":
                throw new errors.SyncError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {Sync.LipsyncListGenerationsRequest} request
     * @param {Generate.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sync.UnauthorizedError}
     * @throws {@link Sync.InternalServerError}
     *
     * @example
     *     await client.generate.listGenerations()
     */
    public listGenerations(
        request: Sync.LipsyncListGenerationsRequest = {},
        requestOptions?: Generate.RequestOptions,
    ): core.HttpResponsePromise<Sync.Generation[]> {
        return core.HttpResponsePromise.fromPromise(this.__listGenerations(request, requestOptions));
    }

    private async __listGenerations(
        request: Sync.LipsyncListGenerationsRequest = {},
        requestOptions?: Generate.RequestOptions,
    ): Promise<core.WithRawResponse<Sync.Generation[]>> {
        const { status } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (status != null) {
            _queryParams["status"] = status;
        }

        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SyncEnvironment.Default,
                "/v2/generations",
            ),
            method: "GET",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@sync.so/sdk",
                "X-Fern-SDK-Version": "0.1.6",
                "User-Agent": "@sync.so/sdk/0.1.6",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            queryParameters: _queryParams,
            requestType: "json",
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as Sync.Generation[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Sync.UnauthorizedError(
                        _response.error.body as Sync.GenerationError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Sync.InternalServerError(
                        _response.error.body as Sync.GenerationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SyncError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.SyncError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.SyncTimeoutError("Timeout exceeded when calling GET /v2/generations.");
            case "unknown":
                throw new errors.SyncError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    /**
     * @param {Sync.CreateGenerationDto} request
     * @param {Generate.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Sync.UnauthorizedError}
     * @throws {@link Sync.InternalServerError}
     *
     * @example
     *     await client.generate.estimateCost({
     *         input: [{
     *                 type: "video",
     *                 url: "https://synchlabs-public.s3.us-west-2.amazonaws.com/david_demo_shortvid-03a10044-7741-4cfc-816a-5bccd392d1ee.mp4"
     *             }, {
     *                 type: "audio",
     *                 url: "https://synchlabs-public.s3.us-west-2.amazonaws.com/david_demo_shortaud-27623a4f-edab-4c6a-8383-871b18961a4a.wav"
     *             }],
     *         model: "lipsync-2",
     *         options: {
     *             sync_mode: "loop"
     *         }
     *     })
     */
    public estimateCost(
        request: Sync.CreateGenerationDto,
        requestOptions?: Generate.RequestOptions,
    ): core.HttpResponsePromise<Sync.EstimatedGenerationCost[]> {
        return core.HttpResponsePromise.fromPromise(this.__estimateCost(request, requestOptions));
    }

    private async __estimateCost(
        request: Sync.CreateGenerationDto,
        requestOptions?: Generate.RequestOptions,
    ): Promise<core.WithRawResponse<Sync.EstimatedGenerationCost[]>> {
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: urlJoin(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.SyncEnvironment.Default,
                "/v2/analyze/cost",
            ),
            method: "POST",
            headers: {
                "X-Fern-Language": "JavaScript",
                "X-Fern-SDK-Name": "@sync.so/sdk",
                "X-Fern-SDK-Version": "0.1.6",
                "User-Agent": "@sync.so/sdk/0.1.6",
                "X-Fern-Runtime": core.RUNTIME.type,
                "X-Fern-Runtime-Version": core.RUNTIME.version,
                ...(await this._getCustomAuthorizationHeaders()),
                ...requestOptions?.headers,
            },
            contentType: "application/json",
            requestType: "json",
            body: request,
            timeoutMs: requestOptions?.timeoutInSeconds != null ? requestOptions.timeoutInSeconds * 1000 : 60000,
            maxRetries: requestOptions?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
        });
        if (_response.ok) {
            return { data: _response.body as Sync.EstimatedGenerationCost[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Sync.UnauthorizedError(
                        _response.error.body as Sync.GenerationError,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Sync.InternalServerError(
                        _response.error.body as Sync.GenerationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.SyncError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        switch (_response.error.reason) {
            case "non-json":
                throw new errors.SyncError({
                    statusCode: _response.error.statusCode,
                    body: _response.error.rawBody,
                    rawResponse: _response.rawResponse,
                });
            case "timeout":
                throw new errors.SyncTimeoutError("Timeout exceeded when calling POST /v2/analyze/cost.");
            case "unknown":
                throw new errors.SyncError({
                    message: _response.error.errorMessage,
                    rawResponse: _response.rawResponse,
                });
        }
    }

    protected async _getCustomAuthorizationHeaders() {
        const apiKeyValue = await core.Supplier.get(this._options.apiKey);
        return { "x-api-key": apiKeyValue };
    }
}
